#Local Editor Settings
.vscode/
.idea/
#Python Virtual Environments & Caches
.venv/
venv/
__pycache__/
*.pyc
#Extras
.cursorrules
.dockerignore
Dockerfile
*.txt
game1.py
game2.py
arrange.py
FULL STACK DEV
prac.py
query.sql
*.bin
*.csv
read_data.py
